.site-header {
  @include cf;
  max-width: $container__width;
  margin: 0 auto;
  padding: $container__padding;
}

/* logo */
.header__branding {
  float: right;
}

.header__branding_logo {
  margin: 25px -45px 0 0;

  a span {
    display: none;
    text-indent: -9999px;
  }
}

.header__branding_title,
.header__branding_description {
  display: none;
  text-indent: -9999px;
}

/* socials */
.header__links {
  float: left;
  margin: 22px 0 25px 2px;
}

.header__links_socials,
.header__links_lang {
  display: inline-block;
  vertical-align: middle;
}

.header__links_socials {
  list-style: none;
  padding: 0;
  font-size: 0;

  li {
    display: inline-block;
    margin-right: 12px;
    text-indent: -9999px;
  }
}

.site-header .header__links_lang {
  @include font-size(0.875);
  color: $color__text-main;
  text-decoration: none;
  margin-right: 10px;

  &:focus, &:active, &:visited {
    color: $color__text-main;
  }

  &:hover {
    color: $color__link;
  }
}

/* nav */
.header__nav {
  float: left;
  max-width: 70%;
  clear: none;
  margin-bottom: 20px;

  .menu-item {
    margin-left: 25px;

    &:last-child {
      margin-left: 0;
    }

    a {
      @include font-size(0.875);
      line-height: 14px;
      line-height: 0.875rem;
      float: left;
      color: $color__text-main;
      text-decoration: none;
      transition: none;

      &:hover {
        font-weight: bold;
        @include font-size(0.78);
        vertical-align: bottom;
      }

      &:focus, &:active, &:visited {
        color: $color__text-main;
      }
    }
  }
}

